/*************************** Socoban ************************************/

/* .div-soc-Z {
    background: url("../G4W/images/Socoban/socoban.png") 0 0 no-repeat;
} */

.div-soc-1 {
    background: url("../G4W/images/Socoban/socoban.png") -25px 0 no-repeat;
}

.div-soc-2 {
    background: url("../G4W/images/Socoban/socoban.png") -50px 0 no-repeat;
}

.div-soc-3 {
    background: url("../G4W/images/Socoban/socoban.png") -75px 0 no-repeat;
}

.div-soc-4 {
    background: url("../G4W/images/Socoban/socoban.png") -100px 0 no-repeat;
}

.div-soc-5 {
    background: url("../G4W/images/Socoban/socoban.png") -125px 0 no-repeat;
}

.div-soc-Z,.div-soc-1,.div-soc-2,.div-soc-3,.div-soc-4,.div-soc-5 {
    float: left;
    width: 25px;
    height: 25px;
}

/*************************** End Socoban *********************************/

